<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Conceptueel gegevensmodel</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Conceptueel gegevensmodel</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-8113aca5ffd64137be11118bab34ff72.png" alt="Conceptueel gegevensmodel" usemap="#id-8113aca5ffd64137be11118bab34ff72map"/>
			   <map name="id-8113aca5ffd64137be11118bab34ff72map">
				  		<area shape="rect" coords="10,15,130,70" href="../elements/id-414fefed8695453e9b86f240705158dd.html"  target="element">
				  		<area shape="rect" coords="652,303,772,358" href="../elements/id-513dcbbab17d4a8ca6a867b8825b0095.html"  target="element">
				  		<area shape="rect" coords="934,192,1054,247" href="../elements/id-637bbc78cf4b40fe98bfbfd8891feed5.html"  target="element">
				  		<area shape="rect" coords="10,303,130,358" href="../elements/id-7e37bc8174864a25b5ed38132827dd47.html"  target="element">
				  		<area shape="rect" coords="322,15,442,70" href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html"  target="element">
				  		<area shape="rect" coords="652,15,772,70" href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html"  target="element">
				  		<area shape="rect" coords="652,192,772,247" href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
											    <td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
											    <td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
											    <td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e37bc8174864a25b5ed38132827dd47.html" target="element"> Financierings-verstrekker </a> </td>
											    <td> <a href="../elements/id-7e37bc8174864a25b5ed38132827dd47.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-637bbc78cf4b40fe98bfbfd8891feed5.html" target="element"> Output </a> </td>
											    <td> <a href="../elements/id-637bbc78cf4b40fe98bfbfd8891feed5.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-513dcbbab17d4a8ca6a867b8825b0095.html" target="element"> Financierings-programma </a> </td>
											    <td> <a href="../elements/id-513dcbbab17d4a8ca6a867b8825b0095.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-414fefed8695453e9b86f240705158dd.html" target="element"> Partnerschap </a> </td>
											    <td> <a href="../elements/id-414fefed8695453e9b86f240705158dd.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-5ba5b067b0c149c68e03197aedfffcd4.html" target="element"> betrekt [1..n] </a> </td>
																		<td> <a href="../elements/id-5ba5b067b0c149c68e03197aedfffcd4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
																		<td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0d7c81921f3d44f7b3048a556725e4ef.html" target="element"> produceert [0..n] </a> </td>
																		<td> <a href="../elements/id-0d7c81921f3d44f7b3048a556725e4ef.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
																		<td> <a href="../elements/id-637bbc78cf4b40fe98bfbfd8891feed5.html" target="element"> Output </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac74575056424184ac0d3f6ec4ea4461.html" target="element"> werkt mee aan [0..n] </a> </td>
																		<td> <a href="../elements/id-ac74575056424184ac0d3f6ec4ea4461.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dda3bae645a74ad4b68764260bd762bf.html" target="element"> is aangesteld bij [1..n] </a> </td>
																		<td> <a href="../elements/id-dda3bae645a74ad4b68764260bd762bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd6f56340add4d09aba6ead322cf3fba.html" target="element"> draagt bij aan [0..n] </a> </td>
																		<td> <a href="../elements/id-dd6f56340add4d09aba6ead322cf3fba.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
																		<td> <a href="../elements/id-637bbc78cf4b40fe98bfbfd8891feed5.html" target="element"> Output </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31d4b555539147a5a820c1db3ea755b5.html" target="element"> heeft in dienst [0..n] </a> </td>
																		<td> <a href="../elements/id-31d4b555539147a5a820c1db3ea755b5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
																		<td> <a href="../elements/id-9360e14e87a44fd8b47836ad347276d1.html" target="element"> Medewerker </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f45eb958ce34d77ad6ceb282f4440d7.html" target="element"> is betrokken bij [0..n] </a> </td>
																		<td> <a href="../elements/id-4f45eb958ce34d77ad6ceb282f4440d7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
																		<td> <a href="../elements/id-414fefed8695453e9b86f240705158dd.html" target="element"> Partnerschap </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4106a955fbb1460ab0151b32f33068cf.html" target="element"> organiseert [0..n] </a> </td>
																		<td> <a href="../elements/id-4106a955fbb1460ab0151b32f33068cf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
																		<td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e8f639451574ff3ac545ff90cacced0.html" target="element"> beheert [1..n] </a> </td>
																		<td> <a href="../elements/id-7e8f639451574ff3ac545ff90cacced0.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7e37bc8174864a25b5ed38132827dd47.html" target="element"> Financierings-verstrekker </a> </td>
																		<td> <a href="../elements/id-513dcbbab17d4a8ca6a867b8825b0095.html" target="element"> Financierings-programma </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-99517403f43a4cbf9ae9708673f0b8da.html" target="element"> financiert [0..n] </a> </td>
																		<td> <a href="../elements/id-99517403f43a4cbf9ae9708673f0b8da.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-513dcbbab17d4a8ca6a867b8825b0095.html" target="element"> Financierings-programma </a> </td>
																		<td> <a href="../elements/id-858627e9e78b40caba4028b6c8f61c4c.html" target="element"> Onderzoeksproject </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-32fd625e8c454c84b5153493ed152380.html" target="element"> bestaat uit [1..n] </a> </td>
																		<td> <a href="../elements/id-32fd625e8c454c84b5153493ed152380.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-414fefed8695453e9b86f240705158dd.html" target="element"> Partnerschap </a> </td>
																		<td> <a href="../elements/id-3d2bda6844e145c08e91e9ba7857765f.html" target="element"> Onderzoeksorganisatie </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>